@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  display: inline-block;
  background-color: white;
  margin: auto;
  height: 400px;
  width: 300px;
  position: relative;
  border-radius: 5px;
}
body {
  padding-top: 150px;
  background: green;
}
#bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 70px;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 70px;
}
#mid {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  font-size: 60px;
}
